<p>This is an intro mission, the purpose of which is to explain how to solve missions on Empire of Code and how to get the most out of solving them.</p>

<p>So this mission is the easiest one. Write a function that will receive 2 numbers as input and it should return the multiplication of these 2 numbers.</p>

<p>
    <strong>Input: </strong> Two arguments. Both are int
</p>

<p>
    <strong>Output: </strong> Int. 
</p>

<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">multTwo(2, 3) == 6
multTwo(1, 0) == 0
</pre>
{% else %}
<pre class="brush: python">mult_two(2, 3) == 6
mult_two(1, 0) == 0
</pre>
{% endif %}
</div>

<p><b>How does it work?:</b></p>

<p>When you start solving the initial code is always consists of an “empty” function (which you need to fill in as the solution) and asserts under this function. You should pay attention to is that your function should return values, and not to print them. 

{% if interpreter.slug == "js-node" %}
That is, use <a target="_blank" target="_blank" href="https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Statements/return">the return command</a> instead of <a target="_blank" target="_blank" href="https://developer.mozilla.org/ru/docs/Web/API/Console/log">the console.log function</a>.
{% else %}
That is, use the return command instead of the print function. <a target="_blank" target="_blank" href="https://stackoverflow.com/questions/7129285/what-is-the-purpose-of-the-return-statement">Check this short explanation.</a>
{% endif %}
</p>

<p>The asserts after your function you can use in order to check yourself  by pressing the “Run” button. Empire of Code also uses several additional tests in order to check your solution when you click the “Check” button.</p>

<p>If the solution didn’t pass the internal tests, the right panel will display an error message containing 3 items.</p>

<ul>
<li><b>Fail:</b> - shows how your function was called.</li>
<li><b>Your Result:</b> - shows what it returned.</li>
<li><b>Right Result:</b> - what it should’ve returned.</li>
</ul>

<p>To solve the task the “empty” function must be replaced with the following code.</p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">
function multTwo(a, b) {
    return a*b;
}
</pre>
{% else %}
<pre class="brush: python">
def mult_two(a: int, b: int) -> int:
    return a*b
</pre>
{% endif %}

<p>Try to click “Check” button now. </p>

